@charset "utf-8";

:root {
  --title: #1b1b1b;
  --txt: #454545;
  --bg: #189cf4;
  --white: #fff;
  --height: 1000px;
}
body {
  font-family: "Poppins", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  text-transform: uppercase;
}

.left {
  height: var(--height);
  position: sticky;
  top: 0;
  width: 850px;
  overflow: hidden;
}
.left .roadmap_txt {
  font-family: "Poppins", sans-serif;
}
.left .roadmap_txt h1 {
  font-size: 105px;
  font-weight: 500;
  color: var(--title);
  margin: 0px 220px 6px 215px;
  padding-top: 154px;
}
.left .roadmap_txt p {
  font-size: 15px;
  line-height: 1.7;
  color: #7f7f7f;
  margin-left: 215px;
  font-weight: 400;
  padding-bottom: 60px;
}
.selected {
  width: 272px;
  height: 66px;
  border-radius: 30px;
  padding: 23px;
  line-height: 30px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
  font-size: 19px;
  margin-left: 215px;
  appearance: none;
  background: url(../images/roadmap-images/sub_sel_dw.png) no-repeat
    calc(100% - 25px) center;
}
.selected a {
  display: block;
  color: var(--title);
  text-decoration: none;
  position: relative;
  z-index: 999;
}
.selected .year {
  display: none;
}
#gb.active {
  position: absolute;
  top: 430px;
  left: 216px;
  z-index: 99;
  width: 273px;
  height: 110px;
  border-radius: 30px;

  border: none;
  color: var(--txt);
  padding: 3px 0;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
  /* text-indent: -9999px; */
}
.year.active {
  padding-top: 60px;
  padding-left: 20px;
  position: relative;
  color: #b8b8b8;
}
.year.active span {
  position: absolute;
  top: 13px;
  right: 27px;
}

#gb.active .year {
  display: block;
}
.img_inner img {
  background: no-repeat 50% / cover;
  padding: 44px 0 0 130px;
  object-fit: cover;
}
.section2 {
  position: absolute;
  left: 870px;
  top: 0;
  width: 1033px;
  background: url(../images/roadmap-images/bg_grid.png) var(--bg);
  vertical-align: bottom;
  overflow: auto;
  height: var(--height);
}

.card {
  width: 650px;
  background-color: var(--white);
  margin: 40px 0 0 102px;
  border-radius: 20px;
  padding: 60px;
  position: relative;
  transition: 0.3s;
}

.card1 {
  margin-top: 250px;
}
.step {
  border: #189cf4 solid 1px;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #189cf42c;
  color: var(--bg);
  font-size: 13px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.completed {
  position: absolute;
  top: -10px;
  right: -17px;
}
h2 {
  font-size: 26px;
  margin-bottom: 14px;
}
.flex_column li {
  font-size: 14px;
  padding-left: 42px;
  margin-bottom: 14px;
  color: var(--txt);

  position: relative;
}
.flex_column1 li,
.flex_column2 li {
  background: url(../images/roadmap-images/check_icon.png) no-repeat 0 50%;
}
.card:hover {
  background-color: var(--title);
  color: var(--white);
  cursor: none;
}
.checked::after {
  position: absolute;
  left: 0;
  top: 3px;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #189cf4;
  content: "";
}
.checked_bg {
  background: url(../images/roadmap-images/check_icon.png) no-repeat 0 50%;
}
