@charset "UTF-8";

:root {
  --bg-lightBlue: #189cf4;
  --bg-lightGray: #f4f4f4;
  --bg-contain: no-repeat 50% / contain;
  --bg-cover: no-repeat 50% / cover;
  --color-gray: #7f7f7f;
  --color-btnInner: #ddf0fa;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.cursor {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 3em;

  will-change: transform;
}

/* 공통 */
main h1 {
  font-size: 105px;
}
main h2 {
  font-size: 52px;
  margin-bottom: 40px;
  font-weight: 600;
}
main h3 {
  font-size: 30px;
}
main p {
  font-size: 15px;
}
main .viewMore {
  color: #fff;
  background-color: var(--bg-lightBlue);
  width: 150px;
  height: 45px;
  line-height: 45px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.9) 3px 3px;
  transition: 0.3s;
  margin: 0 auto;
  cursor: pointer;
}
main .viewMore:hover {
  transform: translate(3px, 3px);
  box-shadow: rgba(0, 0, 0, 0.9) 0 0;
}
main article {
  padding-top: 100px;
  padding-bottom: 150px;
}

/* 애니메이션 */
@keyframes starIcon {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes starIcon2 {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}

/* article 1 home */
main #main_home {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-lightBlue);
  position: relative;
  padding-top: 50px;
}
main #main_home .moon_img {
  background-color: #ffd92e;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: 15vh;
  right: -60px;
}
main #main_home .water_img {
  background-color: #3aabf6;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: 40vh;
  left: -40px;
}
main #main_home > Img {
  position: absolute;
}
main #main_home #bgImg {
  bottom: 37%;
  right: 13%;
}
main #main_home #star1 {
  right: 45%;
  top: 20%;
  animation: starIcon2 2s ease-in infinite;
}
main #main_home #star2 {
  right: 20%;
  top: 35%;
  animation: starIcon 3s ease-in-out infinite;
}

main #main_home .main_home_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: url(./main-images/home_main_blink1.png) no-repeat 75% 15% / 20%;
}
/* main - home - txt */
main #main_home .main_home_txt {
  /* grid-column: 1/2; */
  width: 45%;
  line-height: 1;
  text-align: left;
  padding: 15vh 0 15vh 300px;
}

main #main_home .main_home_txt h1 {
  margin: 20px 0;
}
main #main_home .main_home_txt h1 span {
  display: block;
}
main #main_home .main_home_txt p {
  font-weight: 500;
  color: #124e7a;
  line-height: 1.3;
}

/* home - 캐릭터 */

main #main_home .stage {
  border: 2px orange solid;
  width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  overflow: hidden;
}
main #main_home .stage .stage_character {
}

main #main_home .stage .left img {
  height: 150px;
}
main #main_home .stage .center img {
  height: 500px;
  transition: 1s;
  transform: scale(10px);
}
main #main_home .stage .right img {
  height: 150px;
}

/* home - banner */
main #main_home .banner {
  /* grid-row: 2/3; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: var(--color-gray);
  width: 75vw;
  border-radius: 20px;
}
main #main_home .banner .banner_character {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 120px;
}
main #main_home .banner .banner_character.center {
  background-color: #1b1b1b;
  color: #fff;
  border-radius: 20px;
  position: relative;
}
main #main_home .banner .banner_character.center::after {
  content: "";
  display: block;
  border-top: 10px solid none;
  border-bottom: 12px solid #1b1b1b;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);
}
main #main_home .banner .banner_character img {
  object-fit: contain;
  margin-right: 20px;
}
main #main_home .banner .banner_character h4 {
  font-weight: 500;
}

/* article 2 story */
main #main_story {
  width: 100%;
}

main #main_story .cardsList {
  margin-top: 150px;
  height: 500px;
  position: relative;
}
main #main_story .cardsList .card {
  width: 340px;
  height: 415px;
  border-radius: 10%;
  background-color: #fff;
  position: absolute;
  text-align: left;
  transition: 0.6s;
}
main #main_story .cardsList #card1 {
  top: 0;
  left: 230px;
  box-shadow: rgba(213, 149, 252, 0.2) 0px 3px 24px;
}
main #main_story .cardsList #card2 {
  transform: rotate(-17deg);
  top: 0;
  left: 500px;
  box-shadow: rgba(254, 179, 31, 0.2) 0px 3px 24px;
}
main #main_story .cardsList #card3 {
  transform: rotate(10deg);
  top: -60px;
  left: 750px;
  box-shadow: rgba(33, 186, 165, 0.2) 0px 3px 24px;
}
main #main_story .cardsList #card4 {
  transform: rotate(-10deg);
  top: 0px;
  left: 1000px;
  box-shadow: rgba(146, 155, 60, 0.2) 0px 3px 20px;
}
main #main_story .cardsList #card5 {
  transform: rotate(10deg);
  top: 0;
  left: 1270px;
  box-shadow: rgba(236, 66, 31, 0.1) 0px 3px 20px;
}
/* card hover */
main #main_story .cardsList #card1:hover {
  transform: rotate(0) scale(1.1);
}
main #main_story .cardsList #card2:hover {
  transform: rotate(0) scale(1.1);
}
main #main_story .cardsList #card3:hover {
  transform: rotate(0) scale(1.1);
}
main #main_story .cardsList #card4:hover {
  transform: rotate(0) scale(1.1);
}
main #main_story .cardsList #card5:hover {
  transform: rotate(0) scale(1.1);
}

main #main_story .cardsList .card > img {
  width: 290px;
  height: 290px;
  margin: 25px 25px 10px;
}
main #main_story .cardsList .card h5 {
  text-indent: 22px;
  color: var(--color-gray);
  font-size: 14px;
}
main #main_story .cardsList .card .num {
  padding-left: 30px;
  width: 50px;
  font-size: 14px;
  color: var(--color-gray);
  position: absolute;
  bottom: 58px;
  right: 40px;
}
main #main_story .cardsList .card .heart {
  background: url(./main-images/story_heart_icon.png) no-repeat top left / 20px;
}
main #main_story .cardsList .card .codeName {
  text-indent: 22px;
  display: block;
  color: #000;
  font-size: 17px;
}

/* article 3 project */
main #main_project {
  /* width: 100%;
  height: 960px; */
  background: var(--bg-lightGray) url(./main-images/project_bg_gray.jpg)
    no-repeat 50% 0 / contain;
  position: relative;
}
main #main_project .starIcon {
  position: absolute;
  top: -120px;
  right: 17%;
  animation: starIcon 3s ease-in-out infinite;
}
main #main_project p {
  color: var(--color-gray);
}
main #main_project .games {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
main #main_project .games section {
  width: 13%;
  /* width: 730px; */
  height: 503px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: opacity(50%);
  transition: 0.4s;
}

main #main_project .games section .wrapper {
  width: 90%;
  /* width: 682px; */
  height: 455px;
  border-radius: 20px;
  background-color: powderblue;
  position: relative;
  background: var(--bg-cover);
  position: relative;
}
main #main_project .games section .wrapperTxt {
  margin-left: 128px;
  text-align: left;
  opacity: 0;
}
main #main_project .games section .icon {
  position: relative;
}
main #main_project .games section .icon figcaption {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  top: 15vh;
  line-height: 1;
}
main #main_project .games section .wrapperTxt h4 {
  margin-top: 0;
  font-size: 22px;
  color: #fff;
}
main #main_project .games section .wrapperTxt p {
  margin-top: 40px;
  font-size: 15px;
  color: #e1e1e1;
}
main #main_project .games section .icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: 50px;
  left: 20px; */

  position: relative;
}
main #main_project .games section .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #main_project .games section .gameBox1 {
  background-image: url(./main-images/project_sliding_img01.png);
}
main #main_project .games section .gameBox2 {
  background-image: url(./main-images/project_sliding_img02.png);
}
main #main_project .games section .gameBox3 {
  background-image: url(./main-images/project_sliding_img03.png);
}
main #main_project .games section .gameBox4 {
  background-image: url(./main-images/project_sliding_img04.png);
}
main #main_project .games section .gameBox5 {
  background-image: url(./main-images/project_sliding_img05.png);
}
main #main_project .games section .projectBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--bg-lightBlue);
  background-color: transparent;
  width: 100px;
  height: 35px;
  line-height: 35px;
  border: var(--bg-lightBlue) 1px solid;
  border-radius: 30px;
  font-size: 12px;
  opacity: 0;
}
main #main_project .smallStarIcon {
  position: absolute;
  bottom: -10px;
  left: 25%;
  animation: starIcon2 2s linear infinite;
  z-index: 9999;
}

/* article 3 project *** .on *** */
main #main_project .games section.on {
  width: 730px;
  filter: opacity(1);
  transition: 0.2s;
  transform: translateY(-30px);
}
main #main_project .games section.on .wrapper {
  width: 682px;
}
main #main_project .games section.on .wrapperTxt {
  opacity: 1;
}
main #main_project .games section.on .icon figcaption {
  display: none;
}
main #main_project .games section.on .wrapperTxt p {
  transition: 0.5s;
  /* opacity: 1; */
}
main #main_project .games section.on .projectBtn {
  opacity: 1;
}
main #main_project .games section.on .icon {
  transform: translate(0);
  top: 50px;
  left: 25px;
}
main #main_project .games section.on .projectBtn {
  opacity: 1;
}

/* article 4 roadmap */
main #main_roadmap {
  background: var(--bg-lightBlue) url(./main-images/roadmap_bg_grid.png) 50%;
  position: relative;
}
main #main_roadmap .circle {
  background-color: #31a7f67e;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}
main #main_roadmap .roadmap_head {
  width: 100%;
  margin-bottom: 60px;
  margin-top: 40px;
  position: relative;
  z-index: 999;
}
main #main_roadmap .roadmap_head h2 {
  color: #fff;
  margin-top: 20px;
}

main #main_roadmap .roadmap_body {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-evenly;
  z-index: 9999;
  /* height: 180vh; */
  width: 80%;
  margin: 0 auto;
}

main #main_roadmap .roadmap_body .roadmap_box {
  width: 640px;
  padding: 50px 50px 0;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  margin: 0 0 30px;
  overflow: hidden;
  transition: 0.3s;
}
main #main_roadmap .roadmap_body .roadmap_box .popUpCharacter {
  margin-top: 40px;
  width: 35%;
  height: 0;
  /* display: none; */
  transition: 0.5s;
  transform: translateY(100%);
}

/* hover */
main #main_roadmap .roadmap_body .roadmap_box:hover .popUpCharacter {
  height: 100%;
  transform: translateY(30%);
}
main #main_roadmap .roadmap_body .roadmap_box:hover {
  background-color: #1b1b1b;
  color: #fff;
  transform: scale(20px);
  cursor: url(./main-images/mouse_bg128px.png) 20 30, auto;
}

main #main_roadmap .roadmap_body .roadmap_box .completed {
  position: absolute;
  top: -10px;
  right: -17px;
}
main #main_roadmap .roadmap_body .roadmap_box .step {
  position: absolute;
  top: 50px;
  left: 50px;
  color: var(--bg-lightBlue);
  background-color: #189cf41b;
  width: 100px;
  height: 35px;
  line-height: 35px;
  border: var(--bg-lightBlue) 1px solid;
  border-radius: 30px;
  font-size: 14px;
}
main #main_roadmap .roadmap_body .roadmap_box h3 {
  font-size: 26px;
  margin: 60px 0 40px;
  text-align: left;
}

main #main_roadmap .roadmap_body .roadmap_box ul li {
  background: url(./main-images/roadmap_check_icon.png) no-repeat 0 / 20px;
  padding-left: 35px;
  font-size: 14px;
  margin-bottom: 14px;
  text-align: left;
}
main #main_roadmap .roadmap_body .roadmap_box ul .emptyBox {
  background: none;
  position: relative;
}
main #main_roadmap .roadmap_body .roadmap_box ul .emptyBox::after {
  background: none;
  position: absolute;
  left: 1px;
  top: 3px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #189cf4;
  content: "";
}

main #main_roadmap .viewMore {
  background-color: #000;
  box-shadow: rgba(255, 255, 255, 0.9) 3px 3px;
  margin: 0 40%;
}
main #main_roadmap .viewMore:hover {
  box-shadow: rgba(255, 255, 255, 0.9) 0 0;
}

/* article 5 partners */
main #main_partners {
  background-color: var(--bg-lightGray);
  position: relative;
  height: 90vh;
}
main #main_partners h2 {
  margin-bottom: 70px;
}
main #main_partners .line1,
main #main_partners .line2 {
  width: 100%;
  height: 150px;

  /* overflow: hidden; */
  /* margin: 20px 0; */
  position: absolute;
  bottom: 45vh;

  /* animation: partners_mov 30s infinite alternate; */
}
main #main_partners .line2 {
  bottom: 25vh;
  /* animation-delay: 2s; */
}
/* @keyframes partners_mov {
  0% {
    right: -10%;
  }
  100% {
    right: 110%;
  }
} */
main #main_partners ul {
  display: flex;
  flex-wrap: nowrap;
  width: 300vw;
}
main #main_partners ul li {
  width: 340px;
  height: 140px;
  border-radius: 20px;
  background-color: #fff;
  margin-right: 40px;
  margin-bottom: 30px;
}

main #main_partners ul li > .mouseenter {
  width: 340px;
  height: 140px;
  border-radius: 20px;
  background-color: #1b1b1b;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

main #main_partners .partners_btn {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  margin: 70px auto;
}

/* floated_btn */
#main_fixed_btn {
  position: fixed;
  bottom: 10vh;
  right: 2vw;
}

#main_fixed_btn .float_btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #1b1b1b;
  position: relative;
  margin-bottom: 10px;
  z-index: 999;
}
#main_fixed_btn .float_btn a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main_fixed_btn .float_btn a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
#main_fixed_btn .float_btn a .hoverBg {
  background: url(./main-images/txtbox.png) no-repeat top left / contain;
  width: 0;
  height: 45px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9;
  opacity: 0;
  overflow: hidden;
}
#main_fixed_btn .float_btn a .hoverBg h5 {
  color: var(--bg-lightBlue);
  text-align: left;
  padding-left: 28px;
  line-height: 45px;
  font-size: 12px;
  opacity: 0;
  transition: 0.5s;
}

/* hover */
#main_fixed_btn .float_btn:hover .hoverBg {
  width: 125px;
  z-index: 9;
  opacity: 1;
  width: 125px;
}
#main_fixed_btn .float_btn:hover .hoverBg h5 {
  opacity: 1;
  padding-left: 20px;
}
#main_fixed_btn .float_btn:hover img {
  color: var(--bg-lightBlue);
  filter: opacity(0.5) drop-shadow(0 0 0 #189cf4);
}

#main_fixed_btn .scrollup {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
#main_fixed_btn .scrollup img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
classList.add('on')
.container { transition: 4s; }
.container.on ul { background: url();}
.container.on ul li { color: red }
.container.on img { transform: scale(2);} */
