@charset "UTF-8";

:root {
  --bg-lightBlue: #189cf4;
  --bg-lightGray: #f4f4f4;
  --bg-contain: no-repeat 50% / contain;
  --bg-cover: no-repeat 50% / cover;
  --color-gray: #7f7f7f;
  --color-btnInner: #ddf0fa;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  text-align: center;
}
main h1 {
  font-size: 105px;
}
main h2 {
  font-size: 52px;
  margin-bottom: 25px;
  /* padding-top: 110px; */
}
main h3 {
  font-size: 30px;
}
main p {
  font-size: 15px;
}
main .viewMore {
  color: #fff;
  background-color: var(--bg-lightBlue);
  width: 150px;
  height: 45px;
  line-height: 45px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.9) 3px 3px;
  transition: 0.3s;
}
main .viewMore:hover {
  transform: translate(3px, 3px);
  box-shadow: rgba(0, 0, 0, 0.9) 0 0;
}
main article {
  padding-top: 100px;
  padding-bottom: 150px;
}
/* main .starIcon {
  transition: 1s;
  animation: starIcon 1s ease-in-out infinite;
}
@keyframe starIcon {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
} */

/* article 1 home */
main #home {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-lightBlue);
}

/* article 2 story */
main #story {
  width: 100%;
}
main #story .story_txt {
  /* height: 250px; */
}

main #story .story_cards {
  margin-top: 150px;
  height: 500px;
  position: relative;
}
main #story .story_cards .card {
  width: 340px;
  height: 415px;
  border-radius: 10%;
  background-color: #fff;
  position: absolute;
  transition: 0.4s;
  text-align: left;
}
main #story .story_cards .card1 {
  top: 0;
  left: 230px;
  box-shadow: rgba(213, 149, 252, 0.2) 0px 3px 24px;
}
main #story .story_cards .card2 {
  transform: rotate(-17deg);
  top: 0;
  left: 500px;
  box-shadow: rgba(254, 179, 31, 0.2) 0px 3px 24px;
}
main #story .story_cards .card3 {
  transform: rotate(10deg);
  top: -60px;
  left: 750px;
  box-shadow: rgba(33, 186, 165, 0.2) 0px 3px 24px;
}
main #story .story_cards .card4 {
  transform: rotate(-10deg);
  top: 0px;
  left: 1000px;
  box-shadow: rgba(146, 155, 60, 0.2) 0px 3px 20px;
}
main #story .story_cards .card5 {
  transform: rotate(10deg);
  top: 0;
  left: 1270px;
  box-shadow: rgba(236, 66, 31, 0.1) 0px 3px 20px;
}

/* main #story .story_cards .card:hover {
  transform: rotate(0) scale(10px);
} */

main #story .story_cards .card > img {
  width: 290px;
  height: 290px;
  margin: 25px 25px 10px;
}
main #story .story_cards .card figcaption {
  text-indent: 22px;
  color: var(--color-gray);
  font-size: 14px;
}
main #story .story_cards .card figcaption .codeName {
  display: block;
  color: #000;
  font-size: 17px;
}
main #story .story_cards .card .heart {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 110px;
}

main #story .story_btn {
  margin: 0 auto;
}

/* article 3 project */
main #project {
  /* width: 100%;
  height: 960px; */
  background: var(--bg-lightGray) url(./main-images/project_bg_gray.jpg)
    no-repeat 50% 0 / contain;
  position: relative;
}
main #project .starIcon {
  position: absolute;
  top: -120px;
  right: 17%;
}
main #project p {
  color: var(--color-gray);
}

main #project .games {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
main #project .games section {
  width: 12%;
  /* width: 730px; */
  height: 503px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: opacity(50%);
}

main #project .games section .wrapper {
  width: 90%;
  /* width: 682px; */
  height: 455px;
  border-radius: 20px;
  background-color: powderblue;
  position: relative;
  background: var(--bg-cover);
  position: relative;
}
main #project .games section .wrapperTxt {
  margin-left: 128px;
  text-align: left;

  opacity: 0;
}
main #project .games section .wrapperTxt h4 {
  margin-top: 0;
  font-size: 22px;
  color: #fff;
}
main #project .games section .wrapperTxt p {
  margin-top: 40px;
  font-size: 15px;
  color: #e1e1e1;
}
main #project .games section .icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: 50px;
  left: 20px; */

  position: relative;
}
main #project .games section .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #project .games section .gameBox1 {
  background-image: url(./main-images/project_sliding_img01.png);
}
main #project .games section .gameBox2 {
  background-image: url(./main-images/project_sliding_img02.png);
}
main #project .games section .gameBox3 {
  background-image: url(./main-images/project_sliding_img03.png);
}
main #project .games section .gameBox4 {
  background-image: url(./main-images/project_sliding_img04.png);
}
main #project .games section .gameBox5 {
  background-image: url(./main-images/project_sliding_img05.png);
}
main #project .games section.on .projectBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--bg-lightBlue);
  background-color: transparent;
  width: 100px;
  height: 35px;
  line-height: 35px;
  border: var(--bg-lightBlue) 1px solid;
  border-radius: 30px;
  font-size: 12px;
}

/* article 3 project *** .on *** */
main #project .games section.on {
  width: 730px;
  filter: opacity(1);
  transition: 0.2s;
  transform: translateY(-70px);
}
main #project .games section.on .wrapper {
  width: 682px;
}
main #project .games section.on .wrapperTxt {
  opacity: 1;
}
main #project .games section.on .wrapperTxt p {
  transition: 0.5s;
  /* opacity: 1; */
}
main #project .games section.on .projectBtn {
  opacity: 1;
}
main #project .games section.on .icon {
  transform: translate(0);
  top: 50px;
  left: 25px;
}
